@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
body {
  background-color: grey;
  color: rgb(244, 242, 242);
  
  text-align: center;
}
body {
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  
}

header {
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
}

main {
  
  color: white;
  
  padding: 1rem;
}

.img{

  height: 15rem;
  width: auto;

}

footer {
  
  font-weight:normal;
  color: rgb(255, 255, 255);
  padding: 1rem;
  font-family: "Montserrat", sans-serif;

 
}
